language: php

php:
  - 5.6
  - 7.0

env:
  global:
    - WP_VERSION=master
    - WP_VERSION=4.2

before_script:
  - composer install --prefer-source
  - mkdir -p build/logs

script:
  - ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml
  - ./vendor/bin/test-reporter
  - ./vendor/bin/phpcs

cache:
  directories:
    - vendor/

notifications:
  email: false